absl-py==2.1.0
apihelper==0.1.0
asgiref==3.8.1
astunparse==1.6.3
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
cloudpickle==3.0.0
constantly==23.10.4
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
daphne==4.1.2
DateTime==5.5
dateutils==0.6.12
dj-rest-auth==6.0.0
Django==5.1
django-allauth==64.2.0
django-channels==0.7.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.1
gym==0.26.2
gym-notices==0.0.8
h5py==3.11.0
html5lib==1.1
hyperlink==21.0.0
idna==3.8
incremental==24.7.2
keras==3.5.0
kiteconnect==5.0.1
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.1.0
multitasking==0.0.11
namex==0.0.8
NorenRestApi @ https://github.com/RUDRANSH-hub/AlgoMItra/tree/main/Backend/ShoonyaApi-py-master/dist/NorenRestApi-0.0.30-py2.py3-none-any.whl#sha256=ec99bd4170285b2118254b806adfcc733609e84a049876df4fba14c0876311d7
nsetools==1.0.11
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
protobuf==4.25.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyotp==2.9.0
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
redis==5.0.8
requests==2.32.3
requests-oauthlib==2.0.0
rest-framework-simplejwt==0.0.2
rich==13.8.0
service-identity==24.1.0
setuptools==74.0.0
shoonya==0.1.4
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
yfinance==0.2.43
zope.interface==7.0.3
